.member-details-container {
    padding: 20px;
    border: 2px solid #4682B4; /* גבול */
    border-radius: 10px;
  }
  
  .edit-mode, .display-mode {
    display: flex;
    flex-wrap: wrap;
  }
  
  .edit-section, .display-mode p {
    width: 50%;
  }
  
  .details-label {
    font-weight: bold;
    text-align: right; /* כיוון הטקסט מימין לשמאל */
  }
  
  .buttons {
    margin-top: 20px;
    text-align: left; /* כיוון הכפתורים משמאל לימין */
  }
  
  .edit-buttons {
    margin-top: 20px;
    text-align: left; /* כיוון הכפתורים משמאל לימין */
  }
  
  button {
    background-color: #4682B4; /* צבע רקע לכפתורים */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #4169E1; /* צבע רקע לכפתורים בעת מעבר העכבר */
  }
  